@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.cardAll {
    display: flex;
    flex-direction: row;
}

.name {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.name h5 {
    color: black;
    font-family: Montserrat, sans-serif;
}


.card:hover {
    background-color: rgb(195, 235, 235);
}