@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.name {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.name h5 {
    color: black;
    font-family: Montserrat, sans-serif;
}

.card:hover {
    background-color: rgb(195, 235, 235);
}