.data {
    padding: 1rem;
    background-color: #30a7d7;
    width: 100%;
    min-width: 300px;
    max-height: 250px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 1rem;
}

.data h6{
    color: white;
}


@media (max-width: 900px) and (orientation: landscape) {
    .data {
        flex-direction: row;
    }
}
    