@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.header {
    background: #30a7d7;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;    
}

.header h2 {
    font-family: Montserrat, sans-serif;
}

.header form {
    width: 40%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 450px) {
    .header {
        flex-direction: column;
    }

    .header h2 {
        margin: 1rem;
    }

    .header form {
        width: 90%;
    }
}
