.list {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15rem;
}

@media (max-width: 700px) {
    .list {
        margin-top: 150px;
    }
}